:root {
  --folder-color: #70a1ff;
  --folder-back-color: #4785ff;
  --paper-1: #e6e6e6;
  --paper-2: #f2f2f2;
  --paper-3: #ffffff;
}

.folder {
  transition: all 0.2s ease-in;
  cursor: pointer;
}

.folder:not(.folder--click):hover {
  transform: translateY(-8px);
}

.folder:not(.folder--click):hover .paper {
  transform: translate(-50%, 0%);
}

.folder:not(.folder--click):hover .folder__front {
  transform: skew(15deg) scaleY(0.6);
}

.folder:not(.folder--click):hover .right {
  transform: skew(-15deg) scaleY(0.6);
}

.folder.open {
  transform: translateY(-8px);
}

.folder.open .paper:nth-child(1) {
  transform: translate(-250%, -120%) rotateZ(-8deg);
  height: 80%;
}

.folder.open .paper:nth-child(1):hover {
  transform: translate(-250%, -120%) rotateZ(-8deg) scale(1.1);
}

.folder.open .paper:nth-child(2) {
  transform: translate(-150%, -120%) rotateZ(-4deg);
  height: 80%;
}

.folder.open .paper:nth-child(2):hover {
  transform: translate(-150%, -120%) rotateZ(-4deg) scale(1.1);
}

.folder.open .paper:nth-child(3) {
  transform: translate(-50%, -120%) rotateZ(0deg);
  height: 80%;
}

.folder.open .paper:nth-child(3):hover {
  transform: translate(-50%, -120%) rotateZ(0deg) scale(1.1);
}

.folder.open .paper:nth-child(4) {
  transform: translate(50%, -120%) rotateZ(4deg);
  height: 80%;
}

.folder.open .paper:nth-child(4):hover {
  transform: translate(50%, -120%) rotateZ(4deg) scale(1.1);
}

.folder.open .paper:nth-child(5) {
  transform: translate(150%, -120%) rotateZ(8deg);
  height: 80%;
}

.folder.open .paper:nth-child(5):hover {
  transform: translate(150%, -120%) rotateZ(8deg) scale(1.1);
}

.folder.open .paper:nth-child(6) {
  transform: translate(250%, -120%) rotateZ(12deg);
  height: 80%;
}

.folder.open .paper:nth-child(6):hover {
  transform: translate(250%, -120%) rotateZ(12deg) scale(1.1);
}

.folder.open .folder__front {
  transform: skew(15deg) scaleY(0.6);
}

.folder.open .right {
  transform: skew(-15deg) scaleY(0.6);
}

.folder__back {
  position: relative;
  width: 100px;
  height: 80px;
  background: var(--folder-back-color);
  border-radius: 0px 10px 10px 10px;
}

.folder__back::after {
  position: absolute;
  z-index: 0;
  bottom: 98%;
  left: 0;
  content: '';
  width: 30px;
  height: 10px;
  background: var(--folder-back-color);
  border-radius: 5px 5px 0 0;
}

.paper {
  position: absolute;
  z-index: 2;
  bottom: 10%;
  left: 50%;
  transform: translate(-50%, 10%);
  width: 70%;
  height: 80%;
  background: var(--paper-1);
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
  min-width: 80px;
  min-height: 100px;
}

.paper:nth-child(2) {
  background: var(--paper-2);
  width: 80%;
  height: 70%;
}

.paper:nth-child(3) {
  background: var(--paper-3);
  width: 85%;
  height: 65%;
}

.paper:nth-child(4) {
  background: var(--paper-4);
  width: 88%;
  height: 62%;
}

.paper:nth-child(5) {
  background: var(--paper-5);
  width: 92%;
  height: 58%;
}

.paper:nth-child(6) {
  background: var(--paper-6);
  width: 95%;
  height: 55%;
}

.folder__front {
  position: absolute;
  z-index: 3;
  width: 100%;
  height: 100%;
  background: var(--folder-color);
  border-radius: 5px 10px 10px 10px;
  transform-origin: bottom;
  transition: all 0.3s ease-in-out;
}
